@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="Home" asp-action="Index" method="post" enctype="multipart/form-data">
    <button type="submit">Cargar</button>
</form>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form asp-controller="Jugador" asp-action="Index"  method="post" enctype="multipart/form-data">
    <input type="file" name="file"/>
    <hr />
</form>
