@model Lab02_ed_22.Models.EquipoModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>EquipoModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreEquipo" class="control-label"></label>
                <input asp-for="NombreEquipo" class="form-control" />
                <span asp-validation-for="NombreEquipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Coach" class="control-label"></label>
                <input asp-for="Coach" class="form-control" />
                <span asp-validation-for="Coach" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Liga" class="control-label"></label>
                <input asp-for="Liga" class="form-control" />
                <span asp-validation-for="Liga" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaCreacion" class="control-label"></label>
                <input asp-for="FechaCreacion" class="form-control" />
                <span asp-validation-for="FechaCreacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
